a:hover, a:active, a:visited, a:link {
	text-decoration: none;
}

*:focus {
	outline: none !important;
}

a, .btn, button {
	transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
	-webkit-transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
	-moz-transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
	-o-transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
	background-position: 0 0 !important;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.125) 100%) !important;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.125) 100%) !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color: #f0f0f0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: #2d6ca2;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
	background-color: #49AB49;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
	background-color: #3FB5D9;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
	background-color: #ED9F31;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
	background-color: #D33B36;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
}

body {
	/* Move down content because we have a fixed navbar that is 50px tall */
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', DengXian, SimSun, 'Segoe UI', Tahoma, Helvetica, sans-serif;
	line-height: 2;
	background: #f3f3f2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', DengXian, SimSun, 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

.modal-open {
	overflow: auto;
}

.modal {
	overflow: hidden;
}

::selection {
	background: rgba(65, 131, 196, 0.4);
}

.thumbnail {
	margin-bottom: 20px;
}

.tab-content {
	margin-top: 20px;
}

.form-horizontal, .panel-group {
	margin-top: 15px;
}

.jumbotron {
	padding-top: 30px;
	padding-bottom: 5px;
	background: #f3f3f2;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #FFF;
	background-color: #428bca;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.125) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.125) 100%);
}

.jumbotron h1, .jumbotron p {
	margin-left: 10px;
}

hr {
	border-top: 1px solid #e0e0e0;
}

.form-horizontal .table {
	margin-bottom: 0;
}

footer ul {
	padding-left: 0;
}

footer li {
	display: inline;
	margin-right: 10px;
}

.tab-container {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	padding: 20px;
	margin-bottom: 10px;
}

.panel-body {
	padding: 0;
}

.product-list{
	max-height: 400px;
	overflow: auto;
}

.product-list-item {
	padding: 10px 15px;
	background-color: #fff;
	display: block;
	cursor: auto;
	color: #555;
}

a.product-list-item:hover, a.product-list-item:focus {
	text-decoration: none;
	background-color: #f5f5f5;
	color: #555;
}

a.product-list-item.active, a.product-list-item.active:hover, a.product-list-item.active:focus {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.125) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.125) 100%);
	z-index: 2;
	color: #fff;
	background-color: #428bca;
}

.form-control-static {
	word-break: break-all;
}