body,p,a,div{
		margin:0px;
		padding:0px;
	}
	body{
		font:12px/22px Georgia serif;
		margin:0 auto;
	}
	a{
		color: #333;
		text-decoration: none;
	}
	a:hover{
		color: #548B02;
	}
	p{
		margin-bottom:25px;
	}
	#back-to-top{
		position:fixed;
		bottom:5%;
		left:90%;
	}
	#back-to-top a{
		text-align:center;
		text-decoration:none;
		color:#d1d1d1;
		display:block;
		width:50px;
		/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
		-moz-transition:color 1s; 
		-webkit-transition:color 1s;
		-o-transition:color 1s;
	}
	#back-to-top a:hover{
		color:#979797;
	}
	#back-to-top a span{
		display:block;
		height:50px;
		width:50px;
		background:url(img/top.png) no-repeat center center;
		margin-bottom:5px;
		-moz-transition:background 1s;
		-webkit-transition:background 1s;
		-o-transition:background 1s;
	}
	#back-to-top a:hover span{
		background:url(img/top.png) no-repeat center center;
	}